@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
  }

  header{
    position: fixed;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .tela1, .tela2, .tela3{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
  }

  .quizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-bottom: 12px;
    position:relative;
    margin-left: 15px;
    cursor: pointer;
  }

  .nome-quizz{
    width: 301px;
    height: 80px;
    position: absolute;
    left: 18px;
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    display: flex;
    align-items: flex-end;
  }

  .quizz img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .alternativa-certa{
    color: #009C22;
    ;
  }

  .alternativa-errada{
    color: #FF0B0B;
  }
 
  /* ----------------- janela-criar-primeiro-quizz ------------------------------------*/

  .janela-criar-primeiro-quizz{
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
  }

  .janela-criar-primeiro-quizz p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
  }

  .janela-criar-primeiro-quizz button{
    width: 151px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: #EC362D;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 15px;
  }

  /* ------------------------------------------------------------------------------------*/


  /* ----------------- janela-seus-quizzes e janela-todos-os-quizzes --------------------*/

  .janela-seus-quizzes{
    width: 1066px;
    margin-top: 77px;
  }

  .janela-seus-quizzes button{
    background-color: #EC362D;
    border: 1px dashed #EC362D;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 17px;
    cursor: pointer;
  }

  .janela-todos-os-quizzes{
    width: 1066px;
    margin-top: 77px;
  }

  .titulo-quadro {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
    margin-left: 15px;
  }

  .quadro-de-quizzes{
    display: flex;
    flex-wrap: wrap;
  }

  /* ------------------------------------------------------------------------------------*/

  /* ----------------- Tela 2 - quizz --------------------*/

  .banner{
    width: 100%;
    height: 227px;
    position: relative;
  }

  .banner img{
    width: 100%;
    height: 100%;
    filter: brightness(60%);
  }

  .nome-banner{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
  }

  .quadro-pergunta{
    width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 42px;
    padding: 28px;
  }

  .pergunta{
    width: 100%;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pergunta span{
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .opcoes-resposta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .resposta{
    width: 330px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    overflow-wrap: break-word;
    margin-top: 20px;
    cursor: pointer;
  }

  .resposta img{
    width: 330px;
    height: 175px;
    margin-bottom: 8px;
  }


  .caixa-de-resultado-do-quizz{
    width: 759px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 28px;
    margin-top: 44px;
  }

  .pontuacao{
    width: 100%;
    height: 99px;
    background: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pontuacao span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .resultado{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
  }

  .resultado img{
    width: 364px;
    height: 273px;
  }

  .resultado p{
    height: 100%;
    width: 300px;
    overflow-wrap: break-word;
  }

  .reiniciar-quizz{
    width: 260.38px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: thin;
    margin-top: 57px;
  }

  .voltar-pra-home{
     background: #FAFAFA;
    width: 219.64px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    border: thin;
    background-color: none;
    margin-top: 16px;
  }

  .botoes-finais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
  }

  .reiniciar-quizz, .voltar-pra-home{
    cursor: pointer;
  }


  /* -------------------------------- TELA 3 --------------------------------------------*/
  .quizInfo, .perguntasQuizz, .niveisQuizz, .sucessoQuizz {
    margin-top: 71px;
    text-align: center;
  }

  .quizInfo, .perguntasQuizz h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
  }
  .niveisQuizz h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
  }
  .sucessoQuizz h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-bottom: 30px;
  }
  .inputInfo, .criar-pergunta, .criar-nivel {
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 17px 20px;
    margin-top: 27px;
  }
  .inputInfo{
    height: 256px;
  }
  .inputInfo input {
    width: 564px;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 15px;
  }
  .pergunta-corpo input {
    width: 564px;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 15px;
  }
  .nivel-corpo input {
    width: 564px;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 15px;
  }
  .quizInfo button {
    width: 370px;
    height: 54px;
    background-color: #ec362d;
    color: #FFF5F4;
    border-radius: 15px;
    border: 1px solid #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 85px;
    cursor: pointer;
  }
  .perguntasQuizz button {
    width: 370px;
    height: 54px;
    background-color: #ec362d;
    color: #FFF5F4;
    border-radius: 15px;
    border: 1px solid #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 85px;
    cursor: pointer;
  }
  .niveisQuizz button {
    width: 370px;
    height: 54px;
    background-color: #ec362d;
    color: #FFF5F4;
    border-radius: 15px;
    border: 1px solid #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 85px;
    cursor: pointer;
  }
  .sucessoQuizz {
    display: flex;
    flex-direction: column;
  }
  .acessarQuizz {
    width: 370px;
    height: 54px;
    background-color: #ec362d;
    color: #FFF5F4;
    border-radius: 15px;
    font-size: 21px;
    border: 1px solid #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 85px;
    cursor: pointer;
  }
  .voltarHomeBotao {
    width: 370px;
    height: 54px;
    background-color: #FAFAFA;
    font-size: 21px;
    border: none;
    color: #818181;
    margin-top: 15px;
    cursor: pointer;
  }
  .pergunta-header, .nivel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .pergunta-header img {
    cursor: pointer;
  }
  .nivel-header img {
    cursor: pointer;
  }
  .resposta-certa, .respostas-erradas {
    margin-top: 28px;
    text-align: left;
  }
  .resposta-certa h1 {
    margin-bottom: 24px;
  }
  .respostas-erradas h1 {
    margin-bottom: 24px;
  }
  .resp {
    margin-bottom: 32px;
  }


  /* ------------------------------------------------------------------------------------*/



  /* -------------------------- diversos -----------------------------------*/

  .hidden{
    display: none;
  }

  .esbranquicado{
    opacity: 0.3;
  }

  /* ------------------------------------------------------------------------------------*/


    /* -------------------------- mobile -----------------------------------*/

    @media (max-width: 1100px){

      .janela-criar-primeiro-quizz{
        width: 340px;
        margin-top: 31px;
      }
  
      .janela-seus-quizzes{
        width: 340px;
        margin-top: 31px;
      }

  
      .janela-todos-os-quizzes{
        width: 340px;
        margin-top: 35px;
       }
  
       .quadro-de-quizzes{
        display: flex;
        flex-direction: column;
      }

      .quizz{
        margin-left: 0px;
      }

      .titulo-quadro {
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
      }

      .banner{
        height: 142px;
      }

      .nome-banner{
        width: 60%;
        left: 20%;
        font-size: 19px;
        line-height: 22px;
      }

      .quadro-pergunta{
        width: 374px;
        padding: 18px;
        margin-top: 28px;
      }

      .pergunta{
        width: 100%;
        padding: 0px;
      }

      .pergunta span{
        font-size: 19px;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .opcoes-resposta{
        justify-content: space-around;
      }
    

      .resposta{
        width: 163px;
        margin-bottom: 12px;
        margin-top: 13px;
      }

      .resposta p{
        font-size: 13px;
        line-height: 15px;
      }
    
      .resposta img{
        width: 163px;
        height: 113px;
        margin-bottom: 5px;
      }

      .caixa-de-resultado-do-quizz{
        width: 375px;
        padding: 18px;
        margin-top: 24px;
      }
      .pontuacao {
        padding: 2%;
      }
    
      .pontuacao span{
        font-size: 19px;
        line-height: 22px;
        text-align: center;
      }
    
      .resultado{
        margin-top: 18px;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
      }
    
      .resultado img{
        width: 340px;
        height: 255px;
        margin-bottom: 9px;
      }

      .resultado p{
        width: 100%;
      }
    
      .reiniciar-quizz{
        width: 220px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;
        margin-top: 34px;
      }
    
      .voltar-pra-home{
        font-size: 18px;
        line-height: 21px;
        margin-top: 8px;
      }
    
      .botoes-finais{
        margin-bottom: 40px;
      }

      .inputInfo, .criar-pergunta, .criar-nivel {
        width: 375px;
      }
      .inputInfo input {
        width: 341px;
      }
      .nivel-corpo input {
        width: 341px;
        height: 46px;
      }
      #desc-nivel {
        width: 341px;
        height: 177px;
      }
    }

    /* ------------------------------------------------------------------------------------*/